{%extends 'base.html'%}
{%block title%}Users{%endblock%}

{%block body%}
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            {%for user in users%}
            <p class="mt-3">
                <a href="{%url 'account:detailProfile' id=user.profile.id%}" class="profile">
                    <img src="{{MEDIA}}{{user.profile.avatar.url}}" alt="" class="round mr-2" id="avatar">
                    <span>{{user.username}}</span>
                </a>
            </p>
            {%endfor%}
        </div>
        <div class="col">
        </div>
    </div>
</div>
{%endblock%}